.mui-poppicker.mui-active {
	bottom: 50% !important;
	margin-bottom: -120px !important;
	width: 95%;
	left: 2.5%;
	border-radius: 6px;
	overflow: hidden;
	border-top: none;
}

.mui-poppicker.mui-active .mui-poppicker-header {
	background: rgb(113, 113, 113);
}

.mui-poppicker.mui-active .mui-poppicker-header .mui-btn-blue {
	background: #019849 !important;
	border-color: #019849 !important;
}

.mui-dtpicker.mui-active {
	bottom: 50% !important;
	margin-bottom: -120px !important;
	width: 95%;
	left: 2.5%;
	border-radius: 6px;
	overflow: hidden;
	border-top: none;
}

.mui-dtpicker.mui-active .mui-dtpicker-header {
	background: rgb(113, 113, 113);
}

.mui-dtpicker.mui-active .mui-dtpicker-header .mui-btn-blue {
	background: #019849 !important;
	border-color: #019849 !important;
}

.mui-picker {
	background: #FFFFFF !important;
}

#header {
	background: #019849;
	color: #fff !important;
}

#header .mui-title {
	color: #fff !important;
}


/*ctrl*/


/*019849*/

.infoArea {
	line-height: 1.06rem;
	padding-top: 1.2rem;
}

.placeTypeBox {
	padding: 5px 5px 0 5px;
}

.placeType {
	border: 1px solid #ccc;
	overflow: hidden;
	white-space: nowrap;
	height: 1rem;
	line-height: 1rem;
	width: 100%;
	padding: 0 3px;
	font-size: 12px;
}

.placeType1 {
	border: 1px solid #fff;
	text-align: center;
	float: left;
	width: 1rem;
	height: 1rem;
}

.placeType1 img {
	height: 80%;
}

.placeType2 {
	border: 1px solid #fff;
	float: left;
	display: inline-block;
	width: 0.6rem;
}

.placeType3 {
	border: 1px solid #019849;
	text-align: center;
	border-radius: 6px;
	background: #019849;
	color: #fff;
	float: left;
	width: 1.8rem;
}

.placeType4 {
	margin: 0 5px;
	flex: 1;
	height: 1rem;
	line-height: 1rem;
	float: left;
	width: 2.8rem;
}

.chart {
	height: 95%;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

.navBtn {
	font-size: 0.5rem !important;
	line-height: 46px;
	padding: 0 15px !important;
}

.controlSearch-box {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	border: 1px solid #E3E3E3;
	position: relative;
	overflow: hidden;
}

.controlSearch-input {
	width: 100%;
	padding: 0 1.2rem 0 5px !important;
	border: none !important;
	outline: none !important;
	height: 1rem !important;
	line-height: 1rem !important;
	font-size: 14px !important;
}

.controlSearch-btn {
	height: 1rem;
	width: 1rem;
	position: absolute;
	right: 0.1rem;
	top: 0;
}

.controlSearch-img {
	height: 70%;
	float: left;
	margin-left: 10%;
	margin-top: 15%;
}

.controlSearch-place {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	color: #ccc;
	line-height: 1rem;
	text-align: center;
	background: #FFFFFF;
}

.publicItem {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 14px;
	color: #333;
	position: relative;
	padding: 0 0 0 1rem;
	border-bottom: 1px solid #E3E3E3;
}

.publicItem-bottom {
	margin-bottom: 0.3rem;
}

.publicItem-right {
	padding-right: 1rem;
}

.publicItem-center .publicItem-contentRight {
	width: 55% !important;
	float: right;
	text-align: left;
}

.publicItem-center-right .publicItem-contentRight {
	width: 55% !important;
	float: right;
	text-align: right;
}

.publicItem-iCon {
	position: absolute;
	height: 1rem;
	width: 1rem;
	top: 0;
	line-height: 0.9rem;
}

.publicItem-rightICon {
	right: 0;
	text-align: right;
}

.publicItem-rightICon img {
	height: 40%;
}

.publicItem-rightICon img.openeye {
	height: 33%;
}

.publicItem-leftICon {
	left: 0;
	text-align: center;
}

.publicItem-leftICon img {
	height: 60%;
}

.publicItem-content {
	width: 100%;
}

.publicItem-contentLeft {
	/*width:2.2rem;
	text-align: justify;
	float: left;*/
	width: auto;
	text-align: left;
	float: left;
}

.publicItem-contentLeft:after {
	/*width: 100%;
	height: 0;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	content: ' ';*/
}

.publicItem-contentRight {
	text-align: left;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.publicItem-contentRight input {
	width: 100%;
	height: 100%;
	padding: 0 5px !important;
	margin: 0 !important;
	border: none;
	outline: none;
	font-size: 14px;
}

.publicBtn {
	text-align: center;
	border-radius: 6px;
	background: #019849;
	color: #fff;
	line-height: 1.2rem;
	font-size: 14px;
	width: 6rem;
	margin: 0 auto;
}

.publicGroup {
	width: 100%;
	padding-bottom: 0.4rem;
	border-bottom: 1px solid #E3E3E3;
}

.publicGroupContent {
	width: 90%;
	margin: 0 auto;
}

.publicGroupHead {
	height: 1.2rem;
	width: 100%;
	position: relative;
}

.publicGroupHeadIcon {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.4rem;
	height: 0.8rem;
	width: 0.8rem;
	line-height: 0.6rem;
}

.publicGroupHeadIcon img {
	text-align: center;
	height: 80%;
}

.publicGroupHeadTitle {
	width: 100%;
	line-height: 1.45rem;
	padding-left: 0.8rem;
	font-size: 14px;
	color: #019849;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.publicGroupBody {
	padding: 10px 10px 15px 10px;
	font-size: 14px;
	color: #333333;
	line-height: 0.7rem;
}

.publicGroupFoot {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: right;
}

.publicGroupBtn {
	color: #FFFFFF;
	background: #019849;
	padding: 4px 14px;
	border-radius: 3px;
}

.publicGroupFootOther {
	font-size: 14px;
	text-align: left;
}

.publicGroupOtherHead {
	height: 20px;
	width: 100%;
	position: relative;
}

.publicGroupFootIcon {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	height: 20px;
	width: 24px;
	line-height: 16px;
}

.publicGroupFootIcon img {
	text-align: center;
	height: 80%;
}

.publicGroupFootTitle {
	width: 100%;
	line-height: 20px;
	padding-left: 24px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.oneMenu {
	height: auto;
	width: 8rem;
	border-radius: 6px;
	padding: 40px 20px 20px 20px;
	margin: 0 auto;
}

.menuImg {
	font-size: 16px;
	height: 3.5rem;
	text-align: center;
	line-height: 1rem;
	padding-top: 0.5rem;
	margin-bottom: 10px;
	border-radius: 6px;
}
.menuImg1{
	background: #019e97;
}
.menuImg2{
	background: #22ad38;
}
.menuImg3{
	background: #b3d364;
}
.menuImg img{
	display: block;
	height: 2rem;
	margin:  0 auto;
}
.publicGroupHeadTitleAlo {
	line-height: 1.1rem;
}

.publicGroupHeadAlo {
	height: 0.8rem;
}

.publicGroupHeadIconAlo {
	line-height: 0.8rem;
}

.infoAlo {
	color: #333;
}

.publicGroupFootAlo {
	margin-top: 10px;
}

.publicGroupAlo {
	margin-bottom: 0.5rem;
}